{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
<h3>See Also</h3>
<ul class="d-flex flex-wrap">
	{{ range . }}
		<li class="list-group-item col-xs-6 col-md-6">
			<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></br>
	{{ if .Params.thumbnail }}
		<div class="post-image">
<a href="{{ .RelPermalink }}">
	<img src="{{ .Params.thumbnail }}">
</a></div>  <!-- Find some way to automatically use the first image as the thumbnail if possible? -->
{{ else }}
<div class="post-image">
	<a href="{{ .RelPermalink }}">
		<img src="/img/platypus-logo-small.png">
	</a></div> <!--puts in generic thumbnail image -->
	</li>
{{ end }}

	{{ end }}
</ul>
{{ end }}
