{{ define "header" }}
  <header class="header-section ">
    <div class="intro-header no-img">
      <div class="container">
        <div>
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}
{{ define "main" }}
  <div class="container" role="main">
    <div class="flex-container">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <div class="posts-list">
          {{ $pag := .Paginate (where .Data.Pages ".Params.current"  true ) }}
          {{ range $pag.Pages }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title | markdownify }}</h2>
                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                  {{ .Params.subtitle | markdownify }}
                  </h3>
                {{ end }}
</a>

{{ if .Params.authors }}
<h2 class="post-author">
    {{ if and (.Params.interviewees) (.Params.authors) }} <!-- for interviews -->
    {{ range $index, $interviewee := .Params.interviewees }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "interviewees/" | relLangURL }}{{ . | urlize }}">{{ . | title }}</a>{{ end }}, <em>interviewed by
    {{ range $index, $author := .Params.authors }}{{ if gt $index 0 }}, {{ end }}
    <a href="{{ "authors/" | relLangURL }}{{ . | urlize }}">{{ . | title }}</a>{{ end }}</em>

    {{ else if .Params.authors }}
      {{ range $index, $author := .Params.authors }}{{ if gt $index 0 }}, {{ end }}
      <a href="{{ "authors/" | relLangURL }}{{ . | urlize }}">{{ . | title }}</a>{{ end }}
          {{ end }}
  </h2>
{{ end }}
              <!--   {{ partial "post_meta.html" . }} -->
          <div>
                <div class="post-image">
                  {{ if .Params.thumbnail }}
                <a href="{{ .Permalink }}">
                  <img src="{{ .Params.thumbnail }}">
                </a>  <!-- Find some way to automatically use the first image as the thumbnail if possible? -->
                {{ else }}
                  <a href="{{ .Permalink }}">
                    <img src="/img/platypus-logo-small.png">
                  </a> <!--puts in generic thumbnail image -->
                {{ end }}
                </div>

                {{ if .Params.issue }}
                <p class="issue-info">
                Platypus Review #{{ .Params.issue }} | {{ if .Params.issuedate }} {{.Params.issuedate | markdownify }} {{else}} {{ .Date.Format "January 2006" }} {{ end }}
                </p>
                  {{ end }}

                {{ if .Params.excerpt }}
            <div class="post-entry">
                {{ .Params.excerpt | markdownify }}
              <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
            </div>
                {{ else }}
              <div class="post-entry">
                  {{ .Summary | markdownify }}
                  <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
              </div>
                {{ end }}
              </div>
            </article>
          {{ end }}
        </div>

        {{ with .Content }}

            {{.}}

        {{ end }}

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
