{{ define "header" }}
  <header class="header-section ">
    <div class="intro-header no-img">
      <div class="container">
        <div>
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>{{ if .Data.Singular }}{{ end }}{{ .Title }}</h1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}
{{ define "main" }}
  <div class="container" role="main">
    <div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}

            {{.}}

        {{ end }}
        <div class="posts-list">
          {{ range .Paginator.Pages }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title | markdownify }}</h2>

                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                    {{ .Params.subtitle | markdownify }}
                  </h3>
                {{ end }}
                {{ if .Params.authors }}
                  <h3 class="post-author">
                  {{ delimit .Params.authors ", " }}
                  </h3>

                  {{ else if .Params.speakers}}
                  <h3 class="post-author">
                  {{ delimit .Params.speakers ", " }}
                  </h3>

                {{ end }}
          <!--      {{ if .Params.issue }}
                <p style="text-align:right;font-style:oblique;">
                Platypus Review #{{ .Params.issue }} | {{ if .Params.issuedate }} {{.Params.issuedate | markdownify }} {{else}} {{ .Date.Format "January 2006" }} {{ end }}
                </p>
                  {{ end }} -->
              </a>


              <div class="post-image">
                {{ if .Params.thumbnail }}

              <a href="{{ .Permalink }}">
                <img src="{{ .Params.thumbnail }}">
              </a>

              {{ else }}

                <a href="{{ .Permalink }}">
                  <img src="/img/platypus-logo-small.png">
                </a>

              {{ end }}
              </div>

              <!--
              <p class="post-meta">
                {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format | i18n "postedOnDate" }}
              </p> -->
              {{ if .Params.excerpt }}
          <div class="post-entry">
              {{ .Params.excerpt | markdownify }}
            <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
          </div>
              {{ else }}
            <div class="post-entry">
              {{ if .Truncated }}
                {{ .Summary | markdownify }}
                <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
              {{ else }}
                {{ .Content }}
              {{ end }}
            </div>
              {{ end }}

            <!--  {{ if .Params.tags }}
                <span class="post-meta">
                  {{ range .Params.tags }}
                    #<a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
                  {{ end }}
                </span>
              {{ end }} -->

            </article>
          {{ end }}
        </div>
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
