{{ define "main" }} <!-- Custom page style for media articles -->
<div class="container" role="main">
  <div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ if .Params.speakers }} <!-- Link to authors, if applicable -->
        <h2 class="post-author">
    {{ range $index, $speaker := .Params.speakers }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "speakers/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
  </h2>
        {{ end }}

  <!--      {{ if .Params.issue }}
          <p style="text-align:right;font-style:oblique;"><a href="{{ "issue/" | relLangURL }}{{ .Params.issue | urlize }}">Platypus Review #{{ .Params.issue }}</a> |  {{ end }} {{ if .Params.issuedate }} {{.Params.issuedate }} {{else}} {{ .Date.Format "January 1, 2006" }} </p> {{ end }} -->


          {{ if .Params.articlepdf }} <!-- Link to article PDF -->
            <p class="articleversions"><a href="{{ .Params.articlepdf | urlize }}">[Article PDF]</a></p>
            {{ end }}

          {{ if .Params.audiorecording }} <!-- Link to audio recording -->
            <p class="articleversions"><a href="{{ .Params.audiorecording  | urlize }}">[Audio Recording]</a></p>
            {{ end }}

            {{ if .Params.videorecording }} <!-- Link to video recording -->
              <p class="articleversions"><a href="{{ .Params.videorecording | urlize }}">[Video Recording]</a></p>
              {{ end }}

              {{ if .Params.germanversion }} <!-- Link to german version-->
                <p class="articleversions"><a href="{{ .Params.germanversion | urlize }}">Platypus Review Article [Deutsch]</a></p>
              {{ end }}

              {{ if .Params.frenchversion }} <!-- Link to french version-->
                <p class="articleversions"><a href="{{ .Params.frenchversion | urlize }}">[Francais]</a></p>
              {{ end }}

              {{ if .Params.greekversion }} <!-- Link to greek version-->
                <p class="articleversions"><a href="{{ .Params.greekversion | urlize }}">[Ελληνικό]</a></p>
              {{ end }}

              {{ if .Params.albanianversion }} <!-- Link to albanian version-->
                <p class="articleversions"><a href="{{ .Params.albanianversion | urlize }}">[Deutsch]</a></p>
              {{ end }}

              {{ if .Params.englishversion }}<!-- Link to english version-->
                <p class="articleversions"><a href="{{ .Params.englishversion | urlize }}">Platypus Review Article [English]</a></p>
              {{ end }}

      <article role="main" class="blog-post">
        {{ .Content }}
      </article>



{{ if ne .Params.share false}}
{{ partial "share.html" . }}
      {{end}}

     <ul class="pager blog-pager">
        {{ if .PrevInSection }}
          <li class="previous">
            <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>

        {{ end }}
        {{ if .NextInSection }}
          <li class="next">
            <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>

        {{ end }}
      </ul>

    </div>
  </div>
</div>
{{ end }}
