<nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Platypus1917</a>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
      {{ range .Site.Menus.main.ByWeight }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          {{ end }}
          </div>
        </li>
        {{ else }}
        <li class="nav-item">
        <a class="nav-link" title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
        {{ end }}
        {{ end }}
        </li>
        {{ if .Site.IsMultiLingual }}
          {{ if ge (len .Site.Languages) 2 }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Languages
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {{ range .Site.Languages }}
              {{ if not (eq .Lang $.Site.Language.Lang) }}
              <a class="dropdown-item" href="/{{ .Lang }}" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
              {{ end }}
            {{ end }}
            {{ end }}
            </div>
          </li>
        {{ end }}

        {{ if isset .Site.Params "gcse" }}
          <li>
            <a href="#modalSearch" data-toggle="modal" data-target="#modalSearch" style="outline: none;">
              <span class="hidden-sm hidden-md hidden-lg">{{ i18n "gcseLabelShort" }}</span> <span id="searchGlyph" class="glyphicon glyphicon-search"></span>
            </a>
          </li>
        {{ end }}
      </ul>
    </div>

  </div>
</nav>

<!-- Search Modal -->
{{ if isset .Site.Params "gcse" }}
  <div id="modalSearch" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ i18n "gcseLabelLong" . }}</h4>
        </div>
        <div class="modal-body">
          <gcse:search></gcse:search>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "gcseClose" }}</button>
        </div>
      </div>
    </div>
  </div>
{{ end }}
